<template>
  <header>
    <p><b>UnBlocked cards:</b> {{ unblockedCards.length }} | <u><b>Level:</b> {{ level }}</u></p>
    <p><b>Rows:</b> {{ rows }} | <b>Cols:</b>
      {{ cols }}</p>
  </header>

  <div class="cards" :style="cardsStyle">
    <div class="card" v-for="card in cards" :key="card.id"
         :class="{'is-flipped': card.isFlipped, 'blocked': card.blocked}" @click="flip(card)">
      <div class="card__face card__face--front">
        <!--TODO: protected from show number in html-->
        <transition name="fade">
          <template v-if="!card.isFlipped">{{ card.number }}</template>
        </transition>
      </div>
      <div class="card__face card__face--back"></div>
    </div>
  </div>

  <footer>
    <button @click="restart" class="button">Restart</button>
    <button @click="goToNextLevel" class="button" :disabled="!canGoToNextLevel">Next level</button>
  </footer>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      cards: [],
      flippedCards: [],
      rows: 2,
      cols: 2,
      n: 3,
      exp: 2
    }
  },
  created() {
    this.initCards()
  },
  computed: {
    blockedCards() {
      return this.cards.filter(card => card.blocked)
    },
    unblockedCards() {
      return this.cards.filter(card => !card.blocked)
    },
    canGoToNextLevel() {
      return this.unblockedCards.length === 0 && this.rows < 16
    },
    cardsStyle() {
      return {
        'grid-template-columns': `repeat(${this.cols}, 1fr)`,
        'grid-template-rows': `repeat(${this.rows}, 1fr)`
      }
    },
    level() {
      return this.exp - 1
    }
  },
  methods: {
    initCards() {
      this.cards = []
      const cardsCount = (this.rows * this.cols) / 2
      for (let i = 0; i < cardsCount; i++) {
        this.cards.push(
            this.createCard(i + 1),
            this.createCard(i + 1))
      }
      this.shuffle(this.cards)
      setTimeout(this.flipAll, 2000)
    },
    createCard(number) {
      return {
        id: +(new Date()) + Math.round(Math.random() * 1000),
        number,
        isFlipped: false,
        blocked: false
      }
    },
    // TODO: https://github.com/Daplie/knuth-shuffle
    shuffle(array) {
      let currentIndex = array.length,
          temporaryValue,
          randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
    },
    flip(card) {
      if (!card.blocked && this.flippedCards.length < 2) {
        card.isFlipped = !card.isFlipped
        this.flippedCards.push(card)
        this.checkFlippedCards()
      }
    },
    checkFlippedCards() {
      if (this.flippedCards.length === 2) {
        if (this.flippedCards[0].number === this.flippedCards[1].number && this.flippedCards[0] !== this.flippedCards[1]) {
          this.flippedCards.map(card => {
            card.isFlipped = false
            card.blocked = true
          })
          this.flippedCards = []
        } else {
          setTimeout(() => {
            this.flippedCards.map(card => Object.assign(card, {isFlipped: true}))
            this.flippedCards = []
          }, 1000)
        }
      }
    },
    flipCards(...cards) {
      cards.map(card => Object.assign(card, {isFlipped: true}))
    },
    flipAll() {
      this.cards = this.cards.map(card => Object.assign(card, {isFlipped: true}))
    },
    restart() {
      this.rows = 2
      this.cols = 2
      this.initCards()
    },
    goToNextLevel() {
      ++this.exp
      this.exp % 2 !== 0 ? this.rows += this.rows : this.cols += this.cols

      // let x = this.rows * this.cols

      this.initCards()
    },
    open(card) {
      card.isFlipped = false
    },
    close(card) {
      card.isFlipped = true
    }
  }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  padding: 10px;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.cards {
  flex: 1 1 100%;
  display: grid;
  margin: 0 -5px;
}

.card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s, opacity 2s;
  user-select: none;
  margin: 5px;

  &.is-flipped {
    transform: rotateY(-180deg);
  }

  &.blocked {
    opacity: .5;
    cursor: not-allowed;
  }

  &__face {
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &--front {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #756140;
      font-weight: bold;
      font-size: 60px;

      border: 5px solid #756140;
    }

    &--back {
      border: 5px solid #756140;
      background: #c4a15d url("./assets/img/back.jpg") 22px 5px;
      background-size: 50% auto;
      transform: rotateY(180deg);
    }
  }
}

.button {
  border: none;
  background: #ed598a;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: .2;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
